@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Trade+Winds&display=swap');
@import "reset";
@import "./themes/light";
@import "./themes/dark";
@import "./variables/global";

body {
    font-family: var(--font-family-main)!important;
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    min-height: 100vh;
    background-color: var(--bg-color);
}

.content-page {
    display: flex;
}