.app_dark_theme {
    --bg-color: #0f4572;
    --inverted-bg-color: #e5e5e5;
    --primary-color: #e5e5e5;
    --secondory-color: #92bbbb;
    --inverted-primary-color: #00376e;
    --inverted-secondory-color: #1a4165;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #096cb2;

    // card
    --card-bg: #1461a2;

    // listbox
    --listbox-bg: #1461a2;
}